/***background**/
body {
    background: url("gray_pattern.jpg");

    background-attachment: fixed;
    background-position: center;
    background-repeat: repeat;
    /*background-size: cover;*/
    background-color: black;
}


/**MUSIC**/
#news li {
    margin-top: 20px;
    margin-bottom: 40px;
}

#news p {
    text-align: center;}


/**VIDEO**/
iframe {
    width: 100vw;
    height: 50vw;
}

/***GALLERY***/

#enlarge {
    list-style: none;
    text-align: center;
    margin-left:-7px;
    /*max-width: 100%;*/
}

#enlarge li {
    display: inline-block;
    position: relative;
    z-index: 0;
    width: 28%;
    margin: 0 5px 5px 5px;
}

#enlarge span {
    position: absolute;
    left:-2000px;
    width: 1px;
}

#enlarge img {
    background-color: rgba(70, 130, 180, 0.6);
    padding: 3px;
    width: 100%;
}

/******/